.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.cv-title {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitted-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
